.page {
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  color: #292929;
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
  scroll-behavior: smooth;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url('header-bg-mobile.png.png');
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__title {
  margin: 0;
  font-weight: 800;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.5px;
}

.header__bottom {
  padding: 0 20px 40px;
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--menu {
  background-image: url('Icon-Burger-menu.png');
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 20px;
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.top-bar__logo {
  display: flex;
}

.menu {
  box-sizing: border-box;
  padding: 24px 20px 20px;
  height: 100vh;
  background-color: #e5e6e8;
  font-weight: 700;
  text-transform: none;
}

.menu__top {
  margin-bottom: 32px;
}

.menu__content {
  position: relative;
}

.menu__nav {
  margin-bottom: 40px;
}

.menu__phone-number {
  color: inherit;
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 27px;
}

.menu__call-to-order {
  color: inherit;
  text-decoration: none;
  display: block;
  width: fit-content;

  padding-bottom: 7px;
  border-bottom: 1px solid #292929;

  font-size: 16px;
  line-height: 22px;
  letter-spacing: 2px;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.products__container {
  max-width: fit-content;
  margin: 50px auto;
  padding: 0 15px;
}

.products__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.products__image {
  margin-bottom: 15px;
}

.products__title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 60px;
  color: #292929;
  text-align: left;
  line-height: 1;
  margin-top: 120px;
}

.products__item {
  flex: 0 1 280px;
  display: flex;
  flex-direction: column;
}

.products__description {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 10px;
}

.products__button {
  height: auto;
  background-color: white;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  border-radius: 8px;
}

.store__container {
  max-width: fit-content;
  margin: 50px auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.store__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  max-width: 1020px;
  width: 100%;
  margin: 50px auto;
}

.store__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.store__title {
  font-size: 32px;
  font-weight: 700;
  color: #292929;
  margin-bottom: 20px;
  text-align: left;
  line-height: 1;
}

.store__item {
  display: flex;
  flex-direction: column;
}

.store__item--wide {
  grid-column: span 8;
}

.store__item--square {
  grid-column: span 4;
}

.store__button {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-style: Bold;
  width: 300px;
  height: 46px;
  color: #fff;
  background-color: #292929;
  border-radius: 8px;
  margin-left: auto;
}

.banner {
  width: 100%;
  padding: 0;
  line-height: 0;
}

.banner__img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  margin-bottom: 70px;
}

.about__conteiner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  padding-inline: 120px;
}

.about__title {
  grid-column: span 6;
}

.about__text {
  grid-column: 7 / span 6;
  text-align: left;
  margin-top: 0;
}

.about__paragraph {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
  color: #292929;
}

.login__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  padding-inline: 120px;
}

.login__title {
  grid-column: 1 / -1;
  margin-bottom: 40px;
}

.login__form {
  grid-column: 1 / span 5;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 498px;
  gap: 20px;
}

.login__info {
  grid-column: 7 / span 6;
  color: #9393a3;
}

.login__contact-block {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.login__contact-label {
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 8px;
  margin-top: 0;
}

.login__contact-value {
  color: #292929;
  text-decoration: none;
  margin-bottom: 24px;
}

.login__text {
  display: block;
  border: none;
  background-color: #f8f8fa;
  height: 48px;
  padding-inline: 16px;
  border-radius: 8px;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
  color: #292929;
}

.login__text--area {
  height: 148px;
  padding: 14px 16px;
}

.send__btn {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 16px;
  background-color: #f8f8fa;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  height: 56px;
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

.icon--close {
  background-image: url('Icon-Close.svg');
  background-size: cover;
}

.icon--phone {
  background-image: url('Phone-number.png');
}

.scrollTop {
  position: fixed;
  background: #292929;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  text-align: center;
  bottom: 30px;
  right: 32px;
}

.scrollTop__link {
  color: white;
  text-decoration: none;
  font-size: 40px;
  line-height: 60px;
  padding: 15px;
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    padding: 40px 76px;
  }
}

@mixin on-tablet {
  @media (min-width: $desktop-min-width) {
    padding: 36px 120px;
  }
}

$tablet-min-width: 488px;
$large-tablet-min-width: 768px;
$desktop-min-width: 1024px;

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-large-tablet {
  @media (min-width: $large-tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}
